.container .game-header{
	text-align: center;
}
.container .game-header span{
	display: inline-block;
	font-size: 25px;
	color: skyblue;
}
.container .game-body{
	margin: 10px auto;
	text-align: center;
}
.game-body #view{
	border-radius: 5px;
}